<!doctype html>

<html>

<head>
    <title>Andrewid</title>
    <script src='../lib/jquery/jquery-2.1.4.js' type='text/javascript'></script>
    <script src='../lib/bootstrap-3.3.5-dist/js/bootstrap.min.js' type='text/javascript'></script>
    <link href='../lib/bootstrap-3.3.5-dist/css/bootstrap.min.css' rel='stylesheet' type='text/css' />
    <link href='../lib/bootstrap-3.3.5-dist/css/flatly-bootstrap.min.css' rel='stylesheet' type='text/css' />
    <link href='../css/main.css' rel='stylesheet' type='text/css' />
</head>

<body>

<div class='container'>

<br /><br /><br /><br /><br /><br />

<img class='col-xs-offset-5 col-xs-2' src='../img/logo.png' />

<div class='row'></div>

<div class='text-center'>
	<div class='center-block'>
		<h1 class='text text-info'>Welcome to Bizcuit!</h1>
		<br /><br />
		<a href='/api/auth/google' class='btn btn-primary'>Log in with Google</a>
	</div>
</div>

</div>

</body>

</html>
