
.service-tile {
  width: calc(100% - 10px);
  min-height: 50px;
  background-color: #fff;
  float: left;
  margin: 5px 5px;
  padding: 10px 10px;
}

.x-view-item-focused {
    outline: 1px solid $base-color !important;
    outline-offset: -1px;
}

.dataview-container {
  padding: 5px 30px 5px 5px;
}

span.category {
	float: right;
	border: 1px solid $color-soft-blue;
	border-radius: 2px;
	background-color: $color-soft-blue;
	color: white;
	padding: 0px 3px;
	font-size: 0.75em;
}