
.order-tile {
  width: calc(100% - 10px);
  min-height: 50px;
  background-color: #fff;
  float: left;
  margin: 5px 5px;
  padding: 10px 10px;
}

.x-view-item-focused {
    outline: 1px solid $base-color !important;
    outline-offset: -1px;
}

.dataview-container {
  padding: 5px 20px 5px 5px;
}

.client {
	font-size: 14px;
}

.client a {
	text-decoration: none;
}

table a:link {
	color: #666;
	font-weight: bold;
	text-decoration: none;
}

table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}

table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}

table {
	color: #666;
	margin: 0px;

	border: #ddd 1px solid;

	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

table th {
	padding: 11px 15px 12px 15px;
	background: #ededed;
}

table th:first-child {
	text-align: left;
	padding-left: 20px;
}

table tr {
	text-align: center;
	padding-left: 20px;
}

table td:first-child {
	text-align: left;
	padding-left: 20px;
	border-left: 0;
}

table td {
	padding: 10px;
	background: #fafafa;
}

table tr.even td {
	background: #f6f6f6;
}

table tr:last-child td {
	border-bottom:0;
}

table tr:hover td {
	background: #f2f2f2;
}

td.number {
	text-align: right;
}
